        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }

        header {
            background-color: #5bd6f4;
            color: white;
            padding: 1rem 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
       
        .menu {
            display: flex;
            gap: 2px;
			float: right;
        }
		
        .menu a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            padding: 5px 15px;
        }
		
        .menu a:hover {
            background-color: #a1e9fe;
        }

        .container {
            max-width: 1100px;
            margin: 2rem auto;
            padding: 1rem;
            background: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .post {
            margin-bottom: 2rem;
			padding: 0 60px 0 60px;
			text-align: left;
        }

        .post h2 {
            color: #5bd6f4;
        }


        footer {
            text-align: left;
            padding: 40px;
            background-color: #feffb8;
        }
		
	    .socialmedia {
		    float: left;
		    padding: 20px 0 0 20;
		    font-size: 35px;
		}
		
		a {
		   color: #5bd6f4;
		   text-decoration: none;
		}
		

@media screen and (max-width: 480px) {
    body, .menu {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
		header{
		padding: 10px;
	}	
	.post, h3 {
		padding: 10px;
	}
}